<div class="form_header">@label.title@</div>@commonlabels.search@
<table><tr>
   <td>
   <form name="book" method="POST" onsubmit="presubmit()">
<div><div>@label.name@</div>@.ui.field*(name,java.lang.Object^@model@)*@</div>
<div><div>@label.author@</div>@.ui.field*(author,java.lang.Object^@model@)*@</div>
<div><div>@label.written_on@</div>@.ui.field*(written_on,java.lang.Object^@model@)*@</div>
<div><div>@label.description@</div>@.ui.field*(description,java.lang.Object^@model@)*@</div>

<hr> 
@.ui.field*(id,java.lang.Object^@model@)*@
@.ui.field*(tags,java.lang.Object^@model@)*@
<input type="submit" name="submit" value="@commonlabels.submit@">
</form>
   </td>
   <td style="vertical-align: top;">
   @label.tags@
   <div class="lnbrd" style="width: 400px" id="tags_list">
		<input type="text" class="nonl nobrd" id="tag_inp">
	</div>
	</td></tr></table>
<script>
    var mls1;
   function initFields() {
        mls1 = new MultiSelect({
        list_name: '#tags_list',
        input_name:'#tag_inp',
        //getAutoSuggest:getAutoSuggest,
        callBackAutoSuggest: asyncAS,
        nocase:true
        })
        
       // mls1.putSelected(document.forms.book.tags.value)
        //mls1.putSelected(JSON.parse('@.model.tags@'))
        mls1.putSelected(@.model.tags@)
    }
    function presubmit() {
        var tags = mls1.getSelected() || []
        if (tags.length > 0) {
            document.forms.book.tags.value=JSON.stringify(tags)
        }
        return true
    }
    
    function asyncAS(val, callback) {
       makeJSONAjaxCall('./Book/ajax/allTags', 'filter='+encodeURIComponent(val), true, function (vals) {
           if (vals)
               callback(vals)
       }) 
    }
   
   function getAutoSuggest(val) {
	var sugs = [ {
		tag : 'The',
		descr : 'article'
	}, {
		tag : 'quick',
		descr : 'adj'
	}, {
		tag : 'brown',
		descr : 'color'
	}, {
		tag : 'fox',
		descr : 'noun'
	}, {
		tag : 'jumps',
		descr : 'verb'
	}, {
		tag : 'over',
		descr : 'prep'
	}, {
		tag : 'the',
		descr : 'article'
	}, {
		tag : 'lazy',
		descr : 'adj'
	}, {
		tag : 'dog',
		descr : 'animal'
	} ]
	var res = [];
	for (var i = 0; i < sugs.length; i++) {
		if (sugs[i].tag.indexOf(val) >= 0)
			res.push(sugs[i])
	}
	return res;
}
</script>	