<div style="float:right"><input name="tag" type="text"><a href="javascript:void(0)" onclick="tagFilter()"><img src="../image/ic_search.png"></a></div>
 <div class="form_header">@label.title@</div>

<table><tr><th>@label.id@</th>
<th>@label.name@</th>
<th>@label.description@</th>
<th>@label.author@</th>
<th>@label.written_on@</th>
</tr>
     @model(<tr>
<td>@element.get*(ID)*@</td>
<td><a href="./Book?id=@element.get*(ID)*@">@element.get*(NAME)*@</a></td>
<td>@element.get*(DESCRIPTION)*@</td>
<td>@element.get*(AUTHOR)*@</td>
<td>@element.get*(WRITTEN_ON)*@</td>
</tr>)@
    </table>
<script>
    var my_autoComplete = new autoComplete({selector:'input[name="tag"]',source:allTags,minChars:1})
    
    function allTags(val, popul) {
      makeJSONAjaxCall('./Book/ajax/allTags', 'filter='+val, true, function (vals) {
           if (vals) {
               vals.forEach(function(va1,i){
                  vals[i] = va1.tag
               })
               popul(vals)
           }    
       }) 
    }
    
    function tagFilter() {
        window.location='./Books?tag='+document.querySelector('input[name="tag"]').value
    }
</script>